DEBUG=True
SECRET_KEY="secretkeysecretkeysecretkeysecretkey"
FLASK_APP = 'source/main'

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SQLALCHEMY_DATABASE_URI = postgresql://user:password@localhost:5432/db
SQLALCHEMY_TRACK_MODIFICATIONS = True

REDIS_HOST = 'localhost'
REDIS_PORT = 6379

TESTING=False